body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: "Bodoni Moda", serif;
    color:black;
}


/* Top Navbar */

.topnav {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1000;
    width: 100%;
    text-align: center;
    font-family: "Bodoni Moda", serif;
    font-size: 17px;
    display: inline-block;
    color: black;
    padding: 14px 16px;
}

.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
}

.topnav ul li {
    display: inline;
}

.topnav ul li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav ul li a:hover {
    background-color: #fff;
}

.logo_img{
  position: flex;
  margin-top: 10px;
  text-align: center;
  width:180px;
}


/* HERO IMAGE */
.hero_content{
    font-size:18px;
    text-align: center;
}
.hero_text_headline{
    font-weight: bold;
    color: #9aba85;
    font-size: 25px;
}

.hero_content img{  width:100%;
}


/* SIDEBAR COMPONENT */

.side_bar{
  height:100%;
  overflow: auto;
  margin-top:50px;
  margin-bottom:50px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: left;

}



.side_bar .section{
   color: #9aba85;
   font-weight: bold;
   font-style: italic;
   font-size: 18px;
}

.side_bar img{
    float: right;
    width:30%;
}

/* [class^="side_bar"] element that starts with */
div [class^="side_bar"]:first-of-type {
    margin-top:50px;
    margin-bottom:50px;
    margin-left: 50px;
    margin-right: 50px;
   
}

div [class^="side_bar"]:last-of-type {
    margin-top:50px;
    margin-bottom:50px;
    margin-left: 50px;
    margin-right: 50px;
   
}