
body{
  margin:0;  
  padding:0;

}
.outer{
   text-align: center;
   padding:20px;
}
.page{
   max-width:1200px;
   width:100%;
   height:95vh;
   display: inline-block;
   text-align:left;
   padding:10px;
   background-color: white;
}
a{
  color:black;
  font-size:16px;
  font-weight: bold;
  text-decoration: none;
  margin-right:50px;
}

a:hover {
  color:red;  
 }
  a:active {
  color:#CCC;
}

.topofpage{
  display:flex;
  flex-direction: row; 
  flex-wrap:nowrap;
  align-items: center;
  justify-content: center;
  height: 100px;

}

.logo{
  max-width:200px;
}

.logo_img{
  width:40%;
  margin-top: 10px;
}
.navbar{
  font-family: "Bodoni Moda", serif;
   margin-left: auto;
   margin-top:10px;
   text-align: right;
   }

.content{
  text-align:left;
  padding-left:10px;
  padding-right:10px;
}

  
	  